<header class="w-full">
  <div class="flex w-full">
    <%= link_to root_path do %>
      <h1 class="text-7xl font-serif font-bold text-uppercase text-s-orange-600 p-6">Sean Hawkridge</h1>
    <% end %>
    <nav class="flex text-right ml-auto mr-10 bg-white rounded-full h-30 inline-block self-center p-2 px-2">
      <%= link_to "About", about_path, class: "text-xl hover:text-gray-500 font-regular mr-6" %>
      <%= link_to "Posts", posts_path, class: "text-xl hover:text-gray-500 font-thin" %>
    </nav>
  </div>
</header>
