<div class="w-4/6 m-6 mb-12">
  <h1 class="text-left text-3xl pb-4 font-bold">I'm Director of Leadership at <%= link_to "Makers", "http://makers.tech", class: "underline" %>.</h1>
  <h2 class="text-left text-xl pb-4">
    In my current role, I'm helping engineering leaders build successful and enjoyable leadership careers through teaching, coaching and mentoring. At Makers we're designing and building programmes to deliver optimistic and human-centred technical leadership training.</h2>
    <h2 class="text-left text-xl pb-4">I'm frequently called a people person, and occasionally called a trouble-maker.</h2>
    <%= link_to "About", about_path %>
  </h2>
</div>