
<% @posts.each do |post| %>
  <div class="post">
        <%= render "/posts/#{post.post_type}_post", post: post %>
   </div>
<% end %>

<%= link_to 'Next >', root_path(page: next_page) if next_page %>
<%= link_to '< Previous', root_path(page: previous_page) if previous_page %>