<div class="w-4/6 m-6 mb-12">
  <h1 class="text-left text-3xl pb-4 font-bold">I'm Director of Leadership at <%= link_to 'Makers', 'http://makers.tech', class: 'underline' %>.</h1>
  <h2 class="text-left text-xl pb-4">
    more about copy</h2>
  </h2>
</div>