<div class="container grid grid-cols-1 md:grid-cols-2 gap-4 mx-auto">
<div class="m-6 mb-12 px-4">
  <h1 class="text-left text-3xl pb-4 font-bold font-sans">Currently: Product Engineer at <%= link_to "Zen Educate", "http://zeneducate.com", class: "underline" %>.</h1>
  <h2 class="text-left text-xl pb-4">
    I'm collaborating on tools to help schools find brilliant teachers, and to help teachers to find roles they love. I believe everyone should get to enjoy a meaningful, fulfilling job. A people person and a trouble-maker. </h2>
  </h2>
</div>
<div class="m-6 mb-12 flex px-4">
  <% @posts.map do |post| %>
  <div class="basis-1/2 mx-4">
    <%= image_tag post.image.variant(resize_to_fill: [ 300, 300 ]) %>
    <p class="mt-3 text-s"><%= post.posted_on_date %></p>
    </div>
  <% end %>
</div>
</div>