<div class="flex flex-col items-center justify-center">
  <div class="w-full mx-auto flex flex-col items-center my-20">
    <%= image_tag post.image.variant(resize_to_fit: [600, 500]), class: "mb-16" if post.image.persisted? %>
    <div class="text-center">
      <%= post.posted_on_date %>
    </div>
  </div>
</div>