<div style='background-image: url("<%= rails_blob_url(post.background_image) %>");' class='bg-cover w-full'>
    <h2 class="text-6xl px-8 py-20 font-bold text-white text-center">
        <%= post.content.to_plain_text %>
    </h2>
</div>