<div class="w-full">
  <% @posts.each do |post| %>
    <div class="my-8">
      <%= render "posts/#{post.post_type}_post", post: post %>
    </div>
  <% end %>

  <div class="flex justify-between mt-8">
    <%= link_to '< Previous', root_path(page: previous_page), class: "text-blue-500 hover:text-blue-700" if previous_page %>
    <%= link_to 'Next >', root_path(page: next_page), class: "text-blue-500 hover:text-blue-700" if next_page %>
  </div>
</div>