<div class="w-full">
  <% @posts.each do |post| %>
    <div class="my-8">
      <%= render "posts/#{post.post_type}_post", post: post %>
      <% if current_user %>
        <%= link_to "edit post", edit_admin_post_path(post) %>
      <% end %>
    </div>
  <% end %>

  <div class="grid grid-cols-2 mt-8">
    <div class="text-right">
        <% if previous_page %>
            <div class="bg-white rounded-full h-30 inline-block self-center p-2 px-2 mr-8">
                <%= link_to 'Previous', posts_path(page: previous_page), class: "text-xl hover:text-gray-500 font-regular mx-6" if previous_page %>
            </div>
        <% end %>
        </div>
        <div>
        <% if next_page %>
        <div class="ml-8 bg-white rounded-full h-30 inline-block self-center p-2 px-2">
            <%= link_to 'Next', posts_path(page: next_page), class: "text-xl hover:text-gray-500 font-regular mx-6"%>
        </div>
        <% end %>
        </div>
    </div>
</div>